[submodule "public"]
	path = public
	url = git@github.com:xtrymind/xtrymind.github.io.git
	branch = master
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
